﻿/* ****************** 
Style colors:
Base: #DADFCA
DarkerBase: #969789
DarkGray: #494A43
Green: #CFE48A 
DarkGreen: #474A2D
******************* */

/* BASIC CSS */

/* Makeshift CSS Reset */
{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial','Helvetica',sans-serif;
    font-size: small;
    display:table-header-group;background-image:url('../images/background.jpg');
    background-color: gray;
    width:800px;
    height: 50px;
    color:#333;
}
/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
    display: block;
}

img {
    border:0;
}

a, a:active, a:link, a:visited {
    text-decoration: none;
    color: #0000FF;
}

h1{
    color:  maroon;
    font-family: Helvetica,Arial;
    font-weight: bold;
    line-height: 1.1em;
    padding-bottom: 5px;
    text-shadow: 0 1px 0 #FFFFFF;
    font-size:xx-large;
}

h2 {	
	
	color: black;
    font-family: Helvetica,Arial;
    font-weight: bold;
    line-height: 1.1em;
    padding-bottom: 5px;
    text-shadow: 0 1px 0 #FFFFFF;
    font-size: x-large;
}

h3 {	
	
	color: #666666;
    font-family: Helvetica,Arial;
    font-weight: bold;
    line-height: 1.1em;
    padding-bottom: 5px;
    text-shadow: 0 1px 0 #FFFFFF;
    font-size: large;
}



h4 {
	
	
	color:  blue;
    font-family: Helvetica,Arial;
    font-weight: bold;
    line-height: 1.1em;
    padding-bottom: 5px;
    text-shadow: 0 1px 0 #FFFFFF;
    font-size: medium;

}


h5 {
	
	
	color: red;
    font-family: Helvetica,Arial;
    font-weight:  normal;
    font-style: italic;
    line-height: 1.1em;
    padding-bottom: 5px;
    text-shadow: 0 1px 0 #FFFFFF;
    font-size: small

}


h6 {
	
	
	color: blue;
    font-family: Helvetica,Arial;
    font-weight:  bold;
    font-style: italic;
    line-height: 1.1em;
    padding-bottom: 5px;
    text-shadow: 0 1px 0 #FFFFFF;
    font-size: small

}


header ul {
 list-style: none;
 margin: 10px 0;
 padding:0;
}

header li {
 display: inline-block;
}

header h1 {
 margin: 20px 20px 0 0;
 font-size:xx-large;
 color:#4A4A2E;
}


header h5 {
 color: maroon;
 margin: 0px 0px 0 0;
 font-size: 10pt;
}

#art_niche span{
 display:none;
}


/* NAVIGATION */

nav {
 float:left;
 background:#4A4A44;
 width:100%;
 height:25px;
}

nav ul {
 padding: 5px 0 5px 0;
 margin:0;
}

nav ul li {
 display: block;
 float: left;
 list-style: none;
 margin-right: 0.5em;
 z-index: 99;
}

nav a, nav a:link, nav a:active, nav a:visited {
 white-space:nowrap;
 text-decoration: none;
 color:  silver;
 padding: 0.3em 3em 0.3em 3em;
}

nav ul ul {
 background: #4A4A44; /* Adding a background makes the dropdown work properly in IE7+. */
 -moz-box-shadow: 0 3px 10px #4A4A44;
 position: absolute;
 display: none;
 z-index: 999;
 margin: 0;
 padding: 10px 0 10px 0;
}

nav li.divider {
 border-top: 1px solid #A8AC9C;
}

nav ul ul li {
 float: none;
 display: block;
 line-height: 1.5em;
 margin: 0;
}

nav ul ul li a {
 display: block;
 padding:5px 0px 5px 0px;
 border: none;
}

nav li:hover ul {
    display: block;
}

/* ARTICLE */

article {
 padding: 40px 40px 80px 40px;
 width: 1200px;
 height: 800px;
 background:#fff; 
 margin: 0 20px 0 20px;
 -moz-box-shadow: 2px 2px 2px #494A43;
-webkit-box-shadow: 2px 2px 2px #494A43;
box-shadow: 2px 2px 2px #494A43;
 
 
}

table {
	border: thin solid #5D5F56;
	border-collapse:collapse;
}
td, th {
	border: thin solid #5D5F56;
	padding: 0.25em 0.5em;
}

/* FOOTER  */

footer {
    padding:20px;
    color: black ;
}

footer a, footer a:active, footer a:link, footer a:visited {
    text-decoration: none;
    color: #3333CC;
}

/* TESTS */
#test-action .ok,
#test-action .output {
	font-weight: bold;
	color: white;
}

#error-nav {
    position: fixed;
    right: 0px;
    top: 0px;
    font-weight: bold;
    border-width: 3px;
    border-style: solid;
    border-color: Black;
    height: 60px;
    width: 180px;
    background-color: #FFAAAA ;
}

#error-nav-label {
    text-align: center;
    line-height: 50%;
}

#error-nav-controls {
    text-align: center;
}

#error-nav button{
    width: 30px;
}

#error-nav input{
    width: 40px;
}

.selected-error{
    border-style:solid;
  border-width:4px;
  border-color:SlateGray;
}


