header,
footer,
article,
section,
aside,
nav {
	display:block;
}
body {
	padding: 0;
	margin: 0;
	background-color: #fafafe;
	font-family: 'Lucida Grande','Bitstream Vera Sans','trebuchet ms',verdana,tahoma,arial,sans-serif;
}
header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	padding: 8px;
	height: 90px;
	background-color: #d9dfc9;
	border-bottom: 1px solid gray;
}
#art_niche {
	float: left;
	background-image: url("../images/apriva.png");
	width: 90px;
	height: 90px;
	margin: 0 68px 0 4px;
}
#art_niche span {
	display: none;
}
header ul {
	list-style: none;
}

header li {
	display: inline-block;
}
header li+li:before {
	content: " .";
}

header h5 {
	color: #aaaaaa;
	font: bold 2em;
	font-weight: normal;
	letter-spacing: 0.08em;
	position: fixed;
	top: -17px;
	right: 20px;
}

nav {
	position: fixed;
	left: 0;
	top: 108px;
	width: 130px;
	bottom: 0;
	background-color: #d9dfc9;
}

nav ul {
	display: block;
	margin: 0;
	padding: 0;
}

nav li {
	list-style: none;
	margin: 4px;
}

nav li.divider {
 border-top: 1px solid #A8AC9C;
}

nav li a, nav li a:visited {
	display: block;
	padding: 6px 4px;
	border: 1px solid gray;
	width: 112px;
	text-decoration: none;
	color: black;
	background-color: #eee;
}

nav li a:hover {
	background-color: #f8f8f8;
}

nav ul ul {
 background: #eee; /* Adding a background makes the dropdown work properly in IE7+. */
 -moz-box-shadow: 0 3px 10px #4A4A44;
 position: absolute;
 display: none;
 z-index: 999;
 margin: -20px 0 0 20px;
}

nav ul ul li {
 margin: 0px;
}

nav ul ul li a {
 border: none;
}

nav li:hover ul {
    display: block;
}

article {
	margin: 120px 24px 24px 170px;
}

table {
	border: thin solid #000;
	border-collapse:collapse;
}

td, th {
	border: thin solid #000;
	padding: 0.25em 0.5em;
	border-collapse:collapse;
}

footer {
	margin-left: 170px;
	padding: 20px;
	font-size: 75%;
	border-top: 1px solid #984D00;
	text-align: center;
}

#error-nav {
	position: fixed;
	right: 0px;
	top: 0px;
	font-weight: bold;
	border-width: 3px;
	border-style: solid;
	border-color: Black;
	height: 75px;
	width: 180px;
	background-color: #FFAAAA ;
}

#error-nav-label {
	text-align: center;
	line-height: 50%;
}

#error-nav-controls {
	text-align: center;
}

#error-nav button{
	width: 30px;
}

#error-nav input{
	width: 40px;
}

.selected-error{
	border-style:solid;
  border-width:4px;
  border-color:SlateGray;
}

